/*
USED COLORS
Background-Blue: #08172d
Header12-Blue: #1f88c4
Header5-Blue: #00b0b0;
Level1-blueA: #4ba2ce;
Level1-blueB: #f10f4c;
Level1-Modal-Background-Blue: #4ba2ce
Hoverlinks: #f1f1f1;
Pink-button: #f10f4c;
white: white
greytest: #7d7d7d
*/

/*
font-family: 'Lato', serif;
font-family: 'Montserrat', sans-serif;
*/



body {
display: flex;
flex-direction: column;
height: 100vh;
margin:0;
background-color:black;

}

.row {
  display: flex;  
}


.jumbostyle {
    background-image: url('diving1.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    
    text-align: center;
    align-content: center;
    display: block;
    height:100%;
}


.jumboright {
    height: 100vh;
    display: flex; 
}


h1 {
    font-family: 'Lato', serif;
    font-size: 6em;
    color: #1f88c4;
    text-shadow: rgba(155,212,203,0.9) 0px 3px 3px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}


@media screen and (min-width: 601px) {
    h1 {
        font-size: 70px;
    }
    h5 {
        font-size: 15px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
    h5 {
        font-size: 14px;
    }
}


h2 {
    font-family: 'Lato', serif;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: #1f88c4;
}

.lead {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: #00b0b0;

}

.lead3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.lead4 {
    font-family: 'Lato', serif;
    color: white;
    background-color: darkgray;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: #1f88c4;
}

.practice{
    background-color: rgba(0, 0, 0, 0.6);
}

.heightcheckdiv {
    z-index: 10;
    display: block;
}

#sigma {
    height: 180px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid #dcefed;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

img {
    height: 300px;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 500px;
}



.poolcolor {
    background-color: #9bd4cb;
}

.poolcolorlight {
    background-color: #dcefed;
}

.poolcolordeep1 {
    color: #00b0b0;
    height: 100%;
    height: 100vh;
}




/*buttons*/
/*button Level 1*/
.btnl1 {
    color: white;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background: #4ba2ce;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: 5px solid #4ba2ce;
    margin-right: 2px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

    .btnl1:hover {
        background: white;
        color: #4ba2ce;
        border: 5px solid #4ba2ce;
    }

.btnl1newdive {
    font-family: 'Lato', serif;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ff0000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: 7px solid #4ba2ce;
    margin: 2px;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

    .btnl1newdive:hover {
        background: white;
        color: #ff0000;
        border: 7px solid #4ba2ce;
        text-shadow: none;
    }

.btnl2 {
    color: white;
    width: 6em;
    height: 6em;
    margin-right: 2px;
    border-radius: 50%;
    background: #1f88c4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: 5px solid #1f88c4;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

    .btnl2:hover {
        background: white;
        color: #1f88c4;
        border: 5px solid #1f88c4;
    }


.btnl2newdive {
    font-family: 'Lato', serif;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ff0000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: 7px solid #1f88c4;
    margin: 2px;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

    .btnl2newdive:hover {
        background: white;
        color: #ff0000;
        border: 7px solid #1f88c4;
        text-shadow: none;
    }
.btnl3 {
    font-family: 'Lato', serif;
    color: white;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background: #00b0b0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: 5px solid #00b0b0;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.btnl3:hover {
    background: white;
    color: #00b0b0;
    border: 5px solid #00b0b0;
}

.btnl3newdive {
    color: white;
    font-family: 'Lato', serif;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ff0000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: 7px solid #00b0b0;
    margin: 2px;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

    .btnl3newdive:hover {
        background: white;
        color: #ff0000;
        border: 7px solid #00b0b0;
        transition: 0.5s;
    }

/*modal showing dives*/
.modalCenter {
    margin-top: 1em;
    margin-left: auto !important;
    margin-right: auto !important;
}

.showdives1 {
    background: #4ba2ce;
    width: 300px;
    height: 410px;
    padding: 5px;
    color: white;
    justify-content: center;
    vertical-align: central;
}

.showdives2 {
    background: #1f88c4;
    width: 300px;
    height: 410px;
    padding: 5px;
    color: white;
    justify-content:center;
}

.showdives3 {
    background: #00b0b0;
    width: 300px;
    height: 410px;
    padding: 5px;
    justify-content: center;
}

.divedescription {
    font-size: 2em;
    display: block;
    color:white;
}

.divedescription2 {
    font-size: 1.2em;
    display: block;
    color: white;
}

.h2modalheader{ 
font-family: 'Lato', serif;
color: white;
}

.h5modalheader {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.link-class:hover {
    background-color: #f1f1f1;
}


/*the maps*/
.circle:hover {
    stroke: white;
    stroke-width: 3px;
}


/*weather map*/
.leaflet-control-attribution {
    display:none;
}

.legend {
    line-height: 20px;
    color: #555;
    font: 'Montserrat', sans-serif;
}

    .legend i {
        width: 16px;
        height: 18px;
        float: left;
        margin-right: 5px;
        opacity: 0.7;
    }
#map1 {
    height: 500px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid #dcefed;
}

.centerdiv {
    height: 100vh;
    overflow: hidden;
    vertical-align: center;
    padding: 0;
    margin: 0;
    background-color: #dcefed;
}

.bubblesinhere {
    display: inline-block;
    vertical-align: center;
    height:100%;
}

.bubbleexplanation {
    margin: 0;
    padding: 0;
}

.bubblediv {
    display: inline-block;
    position: relative;
    width: 90%;
    vertical-align: center;
    overflow: hidden;
}

.bubblediv-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#chartArea {
    height: 100%;
    overflow: hidden;
    display:block;
}

-mapswitches {
    position: absolute;
    top: 0;
    right: 0;
    z-index:20;
}


